.body{
  padding: 0 !important;
}

.aboutMeDetails{
  padding: 5px;
  border: #64ffda 1px solid;
}

.aboutMeDetails h4{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aboutMeDetails h4 span:hover{
  color: #64ffda;
}

#infoDetails, #eduDetails, #expDetails, #honorsDetails{
  font-size: 14px;
}
