/* Grid CSS */

body{
  display: grid;
  background-color: #112240;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 20% 1fr;
  grid-template-areas: "header header" 
                       "navBar body"      
                       "footer footer";
  grid-gap: 10px;
  
}

.navBar{
  grid-area: navBar;
}

.header{
  grid-area: header;
}

.body{
  grid-area: body; 
}

.footer{
  grid-area: footer;
}

/* Flexbox CSS */

.navBar ul, .navBar li{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: center;
  align-content: space-around;
}


/* Font CSS */

html{
  font-family: "San Francisco";
  color: white;

}

.navBar, .navBar a{
  text-decoration: none;
  font-size: 13px;
  font-family: "SF Mono";
  color: #64ffda;
}

.header{
  font-size: 11px;
  color: #64ffda;
  font-family: "SF Mono";
}

.body{
   color: #white;
}

.footer, .footer a{
  color: #64ffda;
  text-decoration: none;
  font-size: 13px;
  font-family: "SF Mono";
}

/* Display CSS */

html{
  height: 100%;
  width: 100%;
}

.navBar{
  background: #112240;
  padding-right: 25px;
}

.header{
  width: 100%;
  background-color: #0A192F;
  opacity: 0.85;
  backdrop-filter: blur(10px);
}

.body{
  border-radius: 15px;
}

.footer{
  width: 100%;
  background-color: #0A192F;
  opacity: 0.85;
  backdrop-filter: blur(10px);
}

.navBar ul, .navBar li{
  margin: 10px 5px;
  padding-top: 0px;
  padding-bottom: 30px;
}

