.body{
display: grid;
grid-template-rows: 238px 238px 238px;
grid-template-columns: 288px 288px 288xp;
grid-template-areas = "project1 project2 project3" "project4 project5 project6" "project7 project8 project9"
}


#project1{
  grid-area: project1;
}

#project2{
  grid-area: project2;
}
#project3{
  grid-area: project3;
}
#project4{
  grid-area: project4;
}
#project5{
  grid-area: project5;
}
#project6{
  grid-area: project6;
}
#project7{
  grid-area: project7;
}
#project8{
  grid-area: project8;
}
#project9{
  grid-area: project9;
}



img{
height: 288px;
width: 238px;
}
